
@{
    ViewData["Title"] = "PersonalList";
    Layout = "~/Views/Shared/AdminPanelLayout.cshtml";
}

<!doctype html>
<html lang="en">

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->
    <!-- Begin page -->
    <div id="layout-wrapper">


      
    <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h3 lass="mb-sm-0">Personal Panel</h3>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Personel Listesi</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="datatable-button" name="datatable-button"
                                               class="table table-striped">
                                            <thead>
                                                <tr>

                                                    <th>Düzenle</th>
                                                    <th>Adı</th>
                                                    <th>Soyadı</th>
                                                    <th>Tc Kimlik Numarası</th>
                                                    <th>Email</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var personal in Model)
                                            {
                                                    <tr data-id="@personal.Id">
                                                    <td style="width: 100px">
                                                            <a href="/Personal/PersonalView/@personal.Id" class="btn btn-outline-danger btn-sm edit"
                                                           title="Düzenle"
                                                           data-id="@personal.Id">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>

                                                        <td>@(personal.FirstName ?? "N/A")</td>
                                                        <td>@(personal.LastName ?? "N/A")</td>
                                                        <td>@personal.TCIdNo</td>
                                                        <td>@(personal.Mail ?? "N/A")</td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            <div id="editModal" name="editModal" class="modal fade bs-example-modal-lg" tabindex="-1"
                 role="dialog" aria-labelledby="myExtraLargeModalLabel"
                 aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myExtraLargeModalLabel">
                                Edit Panel
                            </h5>
                            <button type="button" class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Personeli Güncelle</h4>
                                        </div>

                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">FirstName</label>
                                                        <input type="text" class="form-control" id="txtPersonalNameModal">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">LastName</label>
                                                        <input type="text" class="form-control" id="txtPersonalLastnameModal"
                                                               name="txtPersonalLastname">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">UserName</label>
                                                        <input type="text" class="form-control" id="txtPersonalUsernameModal"
                                                               name="txtPersonalUsername">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">Mail</label>
                                                        <input type="text" class="form-control" id="txtPersonalMailModal"
                                                               name="txtPersonalMail">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">TC Id No</label>
                                                        <input type="text" class="form-control" id="txtTcIdNoModal"
                                                               name="txtTcIdNo">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mt-1">
                                                        <label class=" col-form-label">Password</label>
                                                        <input class="form-control" type="password" id="txtPasswordModal" name="txtPassword">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- end card -->
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                        <div class="card-footer d-grid">
                            <button type="submit"
                                    class="btn btn-success btn-block waves-effect waves-light">
                                <i class="ri-check-line align-middle me-2"></i> Update
                            </button>
                        </div>
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div><!-- /.modal -->
    </div>
    </div>
</body>
</html>
