
@{
    ViewData["Title"] = "PatientList";
    Layout = "~/Views/Shared/AdminPanelLayout.cshtml";
}

<!doctype html>
<html lang="en">

<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="dark"> -->
    <!-- Begin page -->
   



        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h3 class="mb-sm-0 ">Hasta Paneli</h3>
                             

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">

                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Hasta Listesi</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="datatable-button" name="datatable-button"
                                               class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Düzenle</th>
                                                    <th>Adı</th>
                                                    <th>Soyadı</th>
                                                    <th>Tc Kimlik Numarası</th>
                                                    <th>Email</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var patient in Model)
                                            {
                                                <tr data-id="@patient.Id">
                                                    <td style="width: 100px">
                                                       
                                                        <a href="/Patient/PatientView/@patient.Id" class="btn btn-outline-danger btn-sm edit"
                                                           title="Düzenle"
                                                       data-id="@patient.Id">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </td>
                                                    <td>@(patient.FirstName ?? "N/A")</td>
                                                    <td>@(patient.LastName ?? "N/A")</td>
                                                    <td>@patient.TCIdNo</td>
                                                    <td>@(patient.Mail ?? "N/A")</td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>

                </div> <!-- container-fluid -->
            </div>
        </div>


</body>
</html>