@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Patient Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.ico" />
    <title>Hasta Paneli | Örnek Sağlık</title>

    <!-- Gerekli css dosyaları -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <link href="@Url.Content("~/css/bootstrap/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/icofont/icofont.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/slick-carousel/slick/slick.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/slick-carousel/slick/slick-theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/patient_table.css")" rel="stylesheet" type="text/css" />

    <!-- Main Stylesheet -->
    <link href="@Url.Content("~/css/main-page-css/style.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navigation" id="navbar">
        <div class="container">
            <a class="navbar-brand">
                <img src="~/assets/images/logo-sm.png">
                <span style="font-size: 20px; font-weight: bolder">Örnek Sağlık</span>
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain"
                    aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icofont-navigation-menu"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarmain">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" @Html.ActionLink("Çıkış Yap", "Index")</a></li>
                </ul>
            </div>
        </div>
    </nav>
   @RenderBody();
    <h2 style="margin-left: 100px" class="mb-2 title-color">Geçmiş Randevularınız</h2>
    <br /><br />
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Randevu Tarihi</th>
                    <th>Randevu Saati</th>
                    <th>Bölüm</th>
                    <th>Doktor</th>
                    <th>Açıklama</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>06.04.2017</td>
                    <td>08.30</td>
                    <td>Ortopedi</td>
                    <td>Mehmet Gün</td>
                    <td>Kontroller yapıldı</td>
                </tr>
                <tr>
                    <td>06.08.2017</td>
                    <td>08.30</td>
                    <td>Ortopedi</td>
                    <td>Mehmet Gün</td>
                    <td>Kontroller yapıldı</td>
                </tr>
            <tbody>
        </table>
    </div>

    <!-- Gerekli Scriptler -->
    <script src="plugins/jquery/jquery.js"></script>
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="plugins/shuffle/shuffle.min.js"></script>

</body>
